@keyframes pisca {
    0% { opacity: 0.2;}
    50% { opacity: 1;}
    100% { opacity: 0.2;}
}

body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.urna{
    background-color: #dbd5c9;
    padding: 30px;
    display: flex;
}

.tela{
    width: 500px;
    height: 320px;

    background: linear-gradient(to right, #e8e8e8, #c1c1c1);

    border: 2px solid #555;

    display: flex;
    flex-direction: column;
}

.d-1{
    flex: 1;
    display: flex;
}

.d-1-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.d-1-1{
    height: 50px;
    display: flex;
    align-items: center;
}

.d-1-2{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.d-1-3{
    height: 50px;
}

.numero{
    display: inline-block;
    width: 30px;
    height: 40px;
    border: 1px solid black;
    text-align: center;
    line-height: 40px;
    font-size: 25px;

}

.pisca {
    animation-name: pisca;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.d-1-4{
    flex: 1;
    line-height: 30px;
}

.d-1-right{
    width: 90px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.d-1-image{
    border: 1px solid black;
    background-color: white;
    text-align: center;
    font-size: 14px;
}

.d-1-image.small{
    width: 80%;
    font-size: 12px;
}

.d-1-image img{
    width: 100%;
}

.d-2{
    height: 50px;
    font-size: 14px;
    border-top: 2px solid black;
    padding-left: 10px;
}

 /* botões do teclado ====== */
.teclado{
    background-color: #403a3a;
    margin-left: 30px;
    padding: 15px;
    font-weight: bold;
}

.teclado-linha{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.teclado-botao{
    width: 70px;
    height: 40px;

    background-color: black;
    color: white;

    font-size: 25px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 10px;

    border-radius: 4px;

    cursor: pointer;

    box-shadow: 4px -4px 1px #222222;
}

.teclado-botao:hover{
    transform: scale(1.1);
}

.btn-branco{
    background-color: white;
    color: black;
    font-size: 15px;
    padding: 3px;
    transition: .2s;
}

.btn-branco:hover{
    transform: scale(1.2);
}

.btn-corrige{
    background-color: #f09046;
    color: black;
    font-size: 15px;
    padding: 3px;
    transition: .2s;
}

.btn-corrige:hover{
    transform: scale(1.2);
}

.btn-confirma{
    background-color: #48c079;
    color: black;
    font-size: 15px;
    width: 90px;
    height: 50px;
    transition: .2s;
}

.btn-confirma:hover{
    transform: scale(1.2);
}

/* aviso ======= */
.aviso-grande{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    padding-top: 30px;
}

.aviso-gigante {
    font-size: 70px;
    font-weight: bold;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}